@import '~@awsui/design-tokens/index.scss';

body {
  background-color: $color-background-layout-main;
  color: $color-text-body-default;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  max-height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  max-height: 100%;
  min-height: 100%;
  overflow: auto;
}
